{% extends "mykart/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Product</title>
{#    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">#}
    <style>

        body{
            background-color: #95999c;
        }

        h3 {
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: underline;
        }

        .container {
            max-width: 1400px;
        }

        .card {
            background: dimgray;
            width: 300px;
            height: 450px;
            margin: 15px 20px 20px;
            border: 2px solid darkred;
        }
        img {
            border: 1px solid darkgray;
        }

        .product_label {
            margin: 10px 5px 5px;
        }

        .product_value {
            margin-left: 20px;
            padding: 3px;
            font-style: italic;
            color: dodgerblue;
            border: 3px solid dodgerblue;
        }
        span {
            font-weight: bold;
            margin: 10px;
        }

        #add_kart {
            margin: inherit;
        }

        .add_product{
            margin: 10px;
            margin-left: 90%;
            position: absolute;
        }



    </style>
</head>
<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary add_product" data-toggle="modal" data-target="#exampleModalScrollable">
        <span class="badge badge-light">&plus;</span> Add Product
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Add Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
{#            <form>#}
{#              {% csrf_token %}#}
              <div class="form-group">
                <label for="formGroupExampleInput">Product Name</label>
                <input type="text" class="form-control" id="product_name" placeholder="Product Name" required>
              </div>
              <div class="form-group">
                <label for="product_category">Product Category</label>
                <select class="form-control" id="product_category" required>
                  <option value="0">Select Category</option>
                  {% for i in category %}
                    <option value="{{ i.category_name }}">{{ i.category_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="manufacture">Manufacturer</label>
                <select class="form-control" id="manufacture" required>
                  <option>Select Manufacture</option>
                  {% for i in manufacture %}
                    <option value="{{ i.company_name }}">{{ i.company_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="product_cost">Product Cost</label>
                <input type="number" class="form-control" id="product_cost" placeholder="Product Cost" required>
              </div>
              <div class="form-group">
                <label for="available_stocks">Available Stocks</label>
                <input type="number" class="form-control" id="available_stocks" placeholder="Add Quantity" required>
              </div>
              <div class="form-group">
                <label for="product_discount">Discount On Product</label>
                <select class="form-control" id="product_discount" required>
                  <option>Select Discount</option>
                  <option>10</option>
                  <option>20</option>
                    <option>30</option>
                    <option>50</option>
                </select>
              </div>
              <div class="form-group">
                <label for="product_image">Select Image</label>
                <input type="file" class="form-control" id="product_image" name="product_img" accept="image/*" required>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                <button type="button" class="btn btn-primary" id="submit_product_data">Save changes</button>#}
{#                <button type="button" class="btn btn-primary" id="submit_product_data">Save changes</button>#}
                <input type="submit" class="btn btn-primary" id="submit_product_data" value="Save changes">
              </div>
{#            </form>#}
          </div>

        </div>
      </div>
    </div>
    <div class="m-md-2">
        <h3 class="text-center ">List Of Products</h3>
    </div>
    <div class="container">
        <div class="row">
            {% for i in product %}
                <div class="card">
                    <img class="card-img-top " src="{{ MEDIA_URL }}{{ i.product_image.url }}" alt="Card image cap">
                    <p class="product_label">
                        <span>Name </span><span class="product_value"><b>{{ i.product_name }}</b></span>
                    </p>
                    <p class="product_label">
                        <span>Price </span><span class="product_value"><b>{{ i.price }}</b></span>
                    </p>
                    <button class="btn btn-primary" id="add_kart" value="{{i.id}}">Add To kart</button>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
<script>
    $(document).ready( function () {
        $("#submit_product_data").on('click', function () {
            var token = '{{csrf_token}}';
            console.log("submit_product_data!!!!", token);
            product_name = $("#product_name").val();
            product_category = $("#product_category").val();
            manufacture = $("#manufacture").val();
            product_cost = $("#product_cost").val();
            available_stocks = $("#available_stocks").val();
            product_discount = $("#product_discount").val();
            product_image = $("#product_image").val();

            console.log("XXXXX",product_name,product_image, $('input[name="product_img"]')[0]);

            var fd = new FormData();
            fd.append( 'product_name', product_name );
            fd.append( 'manufacture', manufacture );
            fd.append( 'product_category', product_category );
            fd.append( 'price', product_cost );
            fd.append( 'quantity', available_stocks );
            fd.append( 'discount', product_discount );
            fd.append( 'product_image', $('input[name="product_img"]')[0].files[0] );

            $.ajax({
              headers: { "X-CSRFToken": token },
              url: 'http://127.0.0.1:8000/api/products/',
              data: fd,
              processData: false,
              contentType: false,
              type: 'POST',
              success: function(data){
                console.log(data);
                location.reload();
              }
            });
        });

        $(".card #add_kart").on('click', function(){
            console.log($(this).val());
        });
    });
</script>
{% endblock %}
